.page-container {
  height: 80vh;
}

.fd-toolbar .fd-select__control {
  margin: 0;
}

.group-cell-toolbar {
  float: right;
  display: inline-flex;
}

.ts-dialog {
  z-index: 1000;
}

.dg-report-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dg-report-form .fd-card {
  max-width: 600px;
}

.dg-report-form .fd-card__content {
  padding: 1rem;
}

.dg-report-form .fd-text {
  margin-top: 1rem;
}
